<h1>Design Index</h1>

<ul><% @designs.each do |design| %>
  <li><%= link_to design.model, user_design_path(design.user, design) %> - <%= design.metal %> - <%= design.stone.name %></li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to "Feeling Inspired? Add a New Design!", new_user_design_path(current_user, @design) %>
<% end %>
