<h1>Stone Index</h1>

<ul>
  <% @stones.each do |stone| %>
  <li><%= link_to stone.name, stone_path(stone) %> - <%= stone.weight %> ct</li>
  <% end %>
</ul>

<%= link_to "Add a New Stone", new_stone_path %>
