<h1>New Stone</h1>

<%= render 'stones/form' %>

<div id="show">
  <h1 id="stoneDetails"></h1>

  <ul>
    <li id="stoneName"></li>
    <li id="stoneWeight"></li>
    <li id="stoneCost"></li>
  </ul>
  <p id="linkToStone"></p>
</div>
